$main-bgc: #121212; // 主要的背景色
$dialog-bgc: #404040; // 弹窗的背景色
$select-bgc: #414141; // 弹窗的背景色
$btn-bgc: #2B2B2B; // 上传按钮的背景色
$select-hover: rgba(255,255,255,0.1);
$msg-font-color: #9B9B9B; // 提示文字颜色
$border-color: #6B6B6B; // 页头 边框色
$active-color: #F84D5F; // 活跃颜色
$default-color: #666666;
$white: #fff;
$btn-bgc: #2b2b2b; // 上传按钮的背景色

$msg-font-color: #9b9b9b; // 提示文字颜色
$border-color: #6b6b6b; // 页头 边框色
$active-color: #f84d5f; // 活跃颜色
$default-color: #666666;

$main-font-color: #fff; // 字体颜色
$font-color-gray: #bdbdbd;
